*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:black;
    color:white;
}

.DestaqueTitulo{
    color:red;
}

.apresentacao{
    margin:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    height: 300px;
}

.apresentacao__conteudo__prefil{
    display: flex;
    align-items: center;
    justify-content: space-between;
}